/* Extra Small Devices, Phones */ 
/* As in styles.css */

/* Small Devices, Tablets */
@media (min-width: 768px) {
    .header_style_1 {
        font-size: 36px;
    }
    
    .header_style_2 {
        font-size: 20px;
    }
    
    .text_style_1 {
        font-size: 22px;
    }
    
    .text_style_2 {
        font-size: 17px;
    }

    .section { /* Section taking whole width */
        padding-top: 140px;
        padding-bottom: 100px;
    }

    .section_header {
        text-align: center;
        margin-left: 0px;
        margin-bottom: 50px;
    }

    .main_dolacz_button {
        font-size: 25px;
        border-radius: 3px;
        padding: 18px;
    }

    .spotkania_item {
        padding-right: 4%;
        padding-left: 4%;
    }

    .spotkania_text_item {
        margin-bottom: 20px;
    }

    .photoGallery_item {      
        margin: 8px;
    }

    .gallery_thumbnail {
        min-width: 40vw;
    }

    .inicjatywy_item {
        min-width: 90%;
        margin: 5px;
        margin-bottom: 15px;
    }

    .partnerzy_item {
        margin: 8px;
        min-width: 30%;
    }

    .kontakt_item {
        margin: 20px; 
        width: 55px;
        height: 55px;
    }
    
    .socialMedia {
        width: 55px;
    }

}
/* Medium Devices, Desktops */
@media (min-width: 992px) {
    .header_style_1 {
        font-size: 38px;
    }
    
    .header_style_2 {
        font-size: 20px;
    }
    
    .text_style_1 {
        font-size: 22px;
    }
    
    .text_style_2 {
        font-size: 17px;
    }

    .main_dolacz_button {
        font-size: 27px;
        border-radius: 3px;
        padding: 22px;
    }

    .spotkania_item {
        padding-right: 4%;
        padding-left: 4%;
        min-width: 40%;
    }

    .spotkania_text_item {
        margin-bottom: 20px;
        padding-right: 0px;
    }

    .photoGallery_container {
        padding-right: 3%;
        padding-left: 3%;
    }

    .photoGallery_item {      
        margin: 8px;
    }

    .gallery_thumbnail {
        min-width: 40vw;
    }

    .inicjatywy_item {
        min-width: 40%;
        margin: 5px;
        margin-bottom: 15px;
    }

    .partnerzy_item {
        margin: 8px;
        min-width: 20%;
    }

    .kontakt_item {
        margin: 20px; 
        width: 65px;
        height: 65px;
    }
    
    .socialMedia {
        width: 65px;
    }

    .bottom_dolacz_item{
        font-size: 25px;
    }

}
/* Large Devices, Wide Screens */
@media (min-width: 1200px) {
    .header_style_1 {
        font-size: 38px;
    }
    
    .header_style_2 {
        font-size: 21px;
    }
    
    .text_style_1 {
        font-size: 21px;
    }
    
    .text_style_2 {
        font-size: 17px;
    }

    .logo_yellow_horizontal {
        display: inline ;
    }
    
    .logo_yellow_vertical{
        display: none; 
    }

    .main_dolacz_button {
        font-size: 23px;
        border-radius: 2px;
        padding: 17px;
    }

    .onas_item {
        padding: 10px;
    }
  
    .spotkania_item {
        padding: 10px;
    }

    .spotkania_text_item {
        margin-bottom: 10px;
        padding-right: 30px;
    }

    .photoGallery_container {
        padding-right: 0%;
        padding-left: 0%;
    }

    .photoGallery_item {      
        margin: 10px;
    }

    .gallery_thumbnail {
        min-width: 250px;
    }

    .hide_on_mobile {
        display: block;
    }

    .inicjatywy_container {
        padding-right: 0%;
        padding-left: 0%;
    }

    .inicjatywy_item {
        min-width: 40%;
        margin: 8px;
    }

    .inicjatywy_item_text_field {
        display: table-cell;
        padding: 5px;
        padding-left: 12px;
        padding-right: 12px;
        width: 75%;
    }

    .partnerzy_item {
        margin: 10px;
        min-width: 20%;
    }

    .partnerzy_container {
        padding-right: 0%;
        padding-left: 0%;
    }

    .kontakt_item {
        margin: 20px; 
        width: 50px;
        height: 50px;
    }
    
    .socialMedia {
        width: 50px;
    }

    .bottom_dolacz_item{
        font-size: 28px;
    }

    .dolacz_item {
        padding: 10px;
    }

    .instrukcja_item {
        padding: 10px;
    }

    .navbar {
        display: block;
    }
}

/* Large Devices, Wide Screens */
@media (min-width: 1500px) {
    .header_style_1 {
        font-size: 36px;
    }
    
    .header_style_2 {
        font-size: 20px;
    }
    
    .text_style_1 {
        font-size: 19px;
    }
    
    .text_style_2 {
        font-size: 15px;
    }

    .section { /* Section taking whole width */
        padding-top: 140px;
        padding-bottom: 100px;
    }

    .section_header {
        text-align: center;
        margin-left: 0px;
        margin-bottom: 50px;
    }

    .logo_yellow_horizontal {
        display: inline ;
    }
    .logo_yellow_vertical{
        display: none; 
    }
    .main_dolacz_button {
        font-size: 23px;
        border-radius: 2px;
        padding: 14px;
    }

    .onas_item {
        padding: 10px;
    }

    .spotkania_item {
        padding: 10px;
    }

    .spotkania_text_item {
        margin-bottom: 10px;
        padding-right: 30px;
    }

    .photoGallery_container {
        padding-right: 0%;
        padding-left: 0%;
    }

    .photoGallery_item {      
        margin: 10px;
    }

    .gallery_thumbnail {
        min-width: 250px;
    }

    .hide_on_mobile {
        display: block;
    }

    .inicjatywy_container {
        padding-right: 0%;
        padding-left: 0%;
    }

    .inicjatywy_item {
        min-width: 40%;
        margin: 8px;
    }

    .inicjatywy_item_text_field {
        display: table-cell;
        padding: 5px;
        padding-left: 12px;
        padding-right: 12px;
        width: 75%;
    }

    .partnerzy_item {
        margin: 10px;
        min-width: 20%;
    }
   
    .partnerzy_container {
        padding-right: 0%;
        padding-left: 0%;
    }

    .kontakt_item {
        margin: 20px; 
        width: 50px;
        height: 50px;
    }
    
    .socialMedia {
        width: 50px;
    }

    .bottom_dolacz_item{
        font-size: 30px;
    }


    .link_clickable {
        color: var(--polygon-color); 
        text-decoration: none; 
        font-weight: bold;
    }
    .link_clickable:hover {
        cursor: pointer;
        text-decoration: underline;
        
    }

}
